In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Stock Market Dataset (1).csv")

In [4]:
df.head(5)

,Unnamed: 0,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
0,0,02-02-2024,2.079,NaN,72.28,NaN,3.8215,NaN,"43,194.70",42650.0,...,"5,89,498",10580.0,564.64,4030000.0,171.81,117220000.0,474.99,84710000.0,"2,053.70",NaN
1,1,01-02-2024,2.050,161340.0,73.82,577940.0,3.8535,NaN,"43,081.40",47690.0,...,"5,81,600",9780.0,567.51,3150000.0,159.28,66360000.0,394.78,25140000.0,"2,071.10",260920.0
2,2,31-01-2024,2.100,142860.0,75.85,344490.0,3.9060,NaN,"42,580.50",56480.0,...,"5,78,020",9720.0,564.11,4830000.0,155.20,49690000.0,390.14,20010000.0,"2,067.40",238370.0
3,3,30-01-2024,2.077,139750.0,77.82,347240.0,3.9110,NaN,"42,946.20",55130.0,...,"5,84,680",9750.0,562.85,6120000.0,159.00,42290000.0,400.06,18610000.0,"2,050.90",214590.0
4,4,29-01-2024,2.490,3590.0,76.78,331930.0,3.8790,NaN,"43,299.80",45230.0,...,"5,78,800",13850.0,575.79,6880000.0,161.26,42840000.0,401.02,17790000.0,"2,034.90",1780.0

In [6]:
df.tail(5)

,Unnamed: 0,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
1238,1238,08-02-2019,2.583,147880.0,52.72,621000.0,2.8140,270.0,"3,661.70",699230.0,...,"3,00,771",240.0,347.57,7560000.0,79.41,113150000.0,167.33,12560000.0,"1,318.50",150610.0
1239,1239,07-02-2019,2.551,211790.0,52.64,749010.0,2.8320,320.0,"3,397.70",471360.0,...,"3,02,813",240.0,344.71,7860000.0,80.72,92530000.0,166.38,17520000.0,"1,314.20",166760.0
1240,1240,06-02-2019,2.662,98330.0,54.01,606720.0,2.8400,100.0,"3,404.30",514210.0,...,"3,08,810",120.0,352.19,6720000.0,82.01,78800000.0,170.49,13280000.0,"1,314.40",137250.0
1241,1241,05-02-2019,2.662,82250.0,53.66,609760.0,2.8205,90.0,"3,468.40",460950.0,...,"3,10,700",360.0,355.81,9050000.0,82.94,89060000.0,171.16,22560000.0,"1,319.20",129010.0
1242,1242,04-02-2019,2.660,116490.0,54.56,622470.0,2.7975,490.0,"3,462.80",503920.0,...,"3,12,000",310.0,351.34,9050000.0,81.67,98580000.0,169.25,20040000.0,"1,319.30",159560.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1243 non-null   int64
 1   Date               1243 non-null   object
 2   Natural_Gas_Price  1243 non-null   float64
 3   Natural_Gas_Vol.   1239 non-null   float64
 4   Crude_oil_Price    1243 non-null   float64
 5   Crude_oil_Vol.     1220 non-null   float64
 6   Copper_Price       1243 non-null   float64
 7   Copper_Vol.        1206 non-null   float64
 8   Bitcoin_Price      1243 non-null   object
 9   Bitcoin_Vol.       1243 non-null   float64
 10  Platinum_Price     1243 non-null   object
 11  Platinum_Vol.      636 non-null    float64
 12  Ethereum_Price     1243 non-null   object
 13  Ethereum_Vol.      1243 non-null   float64
 14  S&P_500_Price      1243 non-null   object
 15  Nasdaq_100_Price   1243 non-null   object
 16  Nasdaq_100_Vol.    1242 non-null   float64
 17  Apple_Price        1243 non-null   float64
 18  Apple_Vol.         1243 non-null   float64
 19  Tesla_Price        1243 non-null   float64
 20  Tesla_Vol.         1243 non-null   float64
 21  Microsoft_Price    1243 non-null   float64
 22  Microsoft_Vol.     1243 non-null   float64
 23  Silver_Price       1243 non-null   float64
 24  Silver_Vol.        1196 non-null   float64
 25  Google_Price       1243 non-null   float64
 26  Google_Vol.        1243 non-null   float64
 27  Nvidia_Price       1243 non-null   float64
 28  Nvidia_Vol.        1243 non-null   float64
 29  Berkshire_Price    1243 non-null   object
 30  Berkshire_Vol.     1243 non-null   float64
 31  Netflix_Price      1243 non-null   float64
 32  Netflix_Vol.       1243 non-null   float64
 33  Amazon_Price       1243 non-null   float64
 34  Amazon_Vol.        1243 non-null   float64
 35  Meta_Price         1243 non-null   float64
 36  Meta_Vol.          1243 non-null   float64
 37  Gold_Price         1243 non-null   object
 38  Gold_Vol.          1241 non-null   float64
dtypes: float64(30), int64(1), object(8)
memory usage: 378.9+ KB

In [7]:
muestra = df.sample(frac=0.2)

In [8]:
muestra

,Unnamed: 0,Date,Natural_Gas_Price,Natural_Gas_Vol.,Crude_oil_Price,Crude_oil_Vol.,Copper_Price,Copper_Vol.,Bitcoin_Price,Bitcoin_Vol.,...,Berkshire_Price,Berkshire_Vol.,Netflix_Price,Netflix_Vol.,Amazon_Price,Amazon_Vol.,Meta_Price,Meta_Vol.,Gold_Price,Gold_Vol.
1169,1169,20-05-2019,2.673,123610.0,63.10,131890.0,2.7260,47180.0,"7,965.30",958810.0,...,"3,05,362",110.0,348.11,4620000.0,92.95,75960000.0,182.72,10350000.0,"1,277.30",212180.0
1043,1043,15-11-2019,2.688,173530.0,57.72,375990.0,2.6425,420.0,"8,476.30",653710.0,...,"3,29,405",320.0,295.03,6340000.0,86.97,78620000.0,195.10,11530000.0,"1,468.50",251210.0
531,531,13-12-2021,3.794,162590.0,71.29,406600.0,4.2815,80.0,"46,703.60",80370.0,...,"4,37,730",2090.0,604.56,2520000.0,169.57,62170000.0,334.49,22950000.0,"1,788.30",106060.0
253,253,31-01-2023,2.741,80030.0,78.87,312730.0,4.2260,86170.0,"23,125.10",289380.0,...,"4,73,000",3910.0,353.86,5660000.0,103.13,66530000.0,148.97,29270000.0,"1,929.50",1910.0
190,190,02-05-2023,2.214,127230.0,71.66,417820.0,3.8625,57600.0,"28,669.10",65330.0,...,"4,94,100",5690.0,317.55,4320000.0,103.63,73470000.0,239.24,23170000.0,"2,023.30",245640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1135,09-07-2019,2.425,202650.0,57.83,551870.0,2.6250,78230.0,"12,541.50",847840.0,...,"3,22,200",130.0,379.93,6930000.0,99.42,86910000.0,199.21,14700000.0,"1,400.50",287180.0
828,828,29-09-2020,2.561,196450.0,39.29,379600.0,2.9900,67930.0,"10,840.90",59640.0,...,"3,15,891",610.0,493.48,3540000.0,157.24,70070000.0,261.79,20220000.0,"1,903.20",217800.0
645,645,28-06-2021,3.617,6840.0,72.91,354700.0,4.2800,1440.0,"34,475.90",112000.0,...,"4,16,304",1630.0,533.03,2820000.0,172.19,44860000.0,355.64,29160000.0,"1,780.70",160790.0
12,12,17-01-2024,2.870,150330.0,72.56,315680.0,3.7330,NaN,"42,768.70",50440.0,...,"5,45,250",8360.0,480.33,4880000.0,151.71,34350000.0,368.37,12660000.0,"2,015.90",180.0
858,858,14-08-2020,2.356,229930.0,42.01,310870.0,2.8680,90.0,"11,750.80",435440.0,...,"3,16,251",220.0,482.68,2940000.0,157.40,55030000.0,261.24,14790000.0,"1,949.80",241800.0

In [10]:
muestra.to_csv("stock.csv")